* {
	padding: 0px;
	margin: 0px;
	color: #616161;
	font-weight: bold;
	font-family: Helvetica;
}

#diginfoiconsep {
	width: 70px;
	height: 100px;
	padding: 10px 4px 4px 10px;
}

#mainbody div header {
	position: fixed;
	z-index: 100008px;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 90px;
	/* background-color: rgb(248,212,0); */
	background-color: black;
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#slidercontainer {
	position: relative;
	width: 100%;
	height: 70%;
	top: 90px;
	margin-left: auto;
	margin-right: auto;
}

#companyname img {
	position: absolute;
	width: 200px;
	top: 12px;
	left: 80px;
}

#companysloganbetter {
	position: absolute;
	top: 55px;
	left: 143px;
	font: 14px Courier, monospace;
	color: rgb(230,120,30);
}

#companyslogansystem {
	position: absolute;
	top: 55px;
	left: 198px;
	font: 14px Courier, monospace;
	color: rgb(204,12,57);
} 

#registeredtrademark {
	position: absolute;
	top: 52px;
	left: 270px;
	color: rgb(187,160,17);
	font-size: .47em;
}

#mainbody div header h2 {
	position: absolute;
	top: 70px;
	left: 158px;
	color: black;
	font: bold 17px Courier, monospace;
}

#mainbody div header ul {
	position: absolute;
	list-style: none;
	top: 64px;
	right: 10px;
}

body div header ul li {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 7px;
	font: 20px Helvetica;
	color: rgb(22,147,167);
}

#aboutus {
	text-decoration: none;
	color: rgb(22,147,167);
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 7px;
	font: 20px Helvetica;
}

#joinus a {
	text-decoration: none;
	color: rgb(22,147,167);
	font: 20px Helvetica;
}

#mypage a {
	text-decoration: none;
	color: rgb(22,147,167);
}

#topbose a {
	text-decoration: none;
	color: rgb(22,147,167);
	font: 20px Helvetica;
}

#topibose a {
	text-decoration: none;
	color: rgb(22,147,167);
	font: 20px Helvetica;
}

#topmbose a {
	text-decoration: none;
	color: rgb(22,147,167);
	font: 20px Helvetica;
}

#mainbody div header ul li:hover, #joinus a:hover, #mypage a:hover, #aboutus:hover, #topbose a:hover,
#topibose a:hover, #topmbose a:hover {
	color: rgb(248,252,193);
	background-color: rgb(204,12,57);
	cursor: pointer;
	text-decoration: underline;
}





#login {
	margin-right: 40px;
}

.textpresentation {
	position: fixed;
	bottom: 0px;
	height: 20%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	text-align: center;
	vertical-align: text-bottom;
}

#aboutus {
	color: rgb(248,252,193);
	background-color: rgb(204,12,57);
	cursor: pointer;
}

.articles {
	background-color: rgba(248,212,0,0.9);
	position: fixed;
	bottom: 0px;
	left: 0px;
} 

.bose {
	background-color: rgba(248,212,0,0.9);
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#whatsnew {
	left: 0%;
	padding-top: 4px;
	width: 10%;
	height: 10px;
	color: white;
	background-color: rgb(200,207,2);
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#solutionsoffering {
	padding-top: 4px;
	z-index: 1000;
	left: 12%;
	width: 10%;
	height: 10px;
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#thinkahead {
	padding-top: 4px;
	left: 24%;
	width: 10%;
	height: 10px;
	color: rgb(248,252,193);
	background-color: rgb(22,147,167);
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#builditnow {
	padding-top: 4px;
	left: 36%;
	width: 10%;
	height: 10px;
	color: white;
	background-color: rgb(230,120,30);
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#dbose {
	padding-top: 4px;
	right: 24%;
	width: 10%;
	height: 10px;
	box-shadow: -3px 3px 6px #666;
	-moz-box-shadow: -3px 3px 6px #666;
	-webkit-box-shadow: -3px 3px 6px #666;
}

#ibose {
	padding-top: 4px;
	right: 12%;
	width: 10%;
	height: 10px;
	color: rgb(248,252,193);
	background-color: rgb(204,12,57);
	box-shadow: -3px 3px 6px #666;
	-moz-box-shadow: -3px 3px 6px #666;
	-webkit-box-shadow: -3px 3px 6px #666;
}

#mbose {
	padding-top: 4px;
	right: 0%;
	width: 10%;
	height: 10px;
	color: rgb(248,252,193);
	background-color: rgba(22,147,167,0.9);
	box-shadow: -3px 3px 6px #666;
	-moz-box-shadow: -3px 3px 6px #666;
	-webkit-box-shadow: -3px 3px 6px #666;
}

#textualreading {
	position: absolute;
	top: 500px;
	width: 60%;
	margin-left: 20%;
	text-align: left;
} 

#textualreading section {
	float: left;
	margin: 7px;	
}

.headlines {
	color: #ee7d2d;
	font-size: 1.8em;
	padding-top: 100px;
}

.headlinesections {
	color: #6476b3;
	font-size: 1.2em;
	font-weight: 600;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	clear: left;
}

.headlinesectionsnopadding {
	color: #6476b3;
	font-size: 1.2em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 15px;
	clear: left;
}

.sectiondetails {
	padding-left: 20px;
}

#lastsectionoftextuals {
	position: absolute;
	width: 100px;
	right: 6px;
	top: 4px;
	z-index: 12000;
}

#lastsectionoftextuals img {
	height: 20px;
	width: 20px;
}


#textualreading a:link {
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: green;
	padding: 20px;
}

#textualreading a:hover, #textualreading a:focus {
	color: blue;
	text-decoration: underline;
}

#textualreading a:active, #textualreading a:visited {
	color: red;
}

#whatsnewimage img {
	float: left;
	padding-left: 20px;
}

#whatsnewimage2 img {
	float: left;
	width: 200px;
	padding-left: 20px;
}

#whatsnewimage2 {
	float: left;
}

#whatsnewimage3 img {
	float: left;
	width: 200px;
	padding-left: 20px;
}

#infoliveeskinmission {
	border-radius: 10px;
	clear: right;
	opacity: 0.9;
}

#aboutdiginfo, #aboutbose, #abouteyebose, #aboutmbose {
	display: none;
}

#textualreading section img {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#yearsofpioneering, #majorclientspecific, #diginfoacademyspec, #diginfolabsspec, #zoinuxspec, #meijiaspecs, #themanagementteamspec, #bpoexpressspec,
#diginfoconsultingspec, #businessosspecs, #peoplewarespecs, #finestrestaurantspecs {
	clear: left;
}

.bosebenefits {
	margin-left: 50px;
}

#carousel {
	width: 100%;
	text-align: center;
}

#carousel img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	-webkit-box-shadow: 3px 3px 6px #666;
}

#wewanttohearfromyou {
	color: #fff;
}
